*{margin-top: 1%;
margin-left: 2%;}

body{
    background-color:#040508;}


.menu{align-items: center;
    width: 55%;
    display: flex;
flex-direction: row;



}
.menu,li{padding-left: 8%;
    font-size: large;
    list-style: none;

}
hr{width: 80%;
    box-shadow: 10px 10px #0006DB; }


.logo{color: #dde1e6;
        font-size:xx-large;}
    
.container{display: flex;
flex-direction: row;
align-items: center;}



.imgPrincipal{margin-top: 5%;
    border-radius: 5%;
    width: 40%;
    height: 30%;
    margin-left: 10%;
   

}


h1{display:flex;;
    color:rgb(234, 244, 252);
    width: 50%;
}

p{color: #9C9EA1;
    width:50%;
    font-size: large;
}

  
  a:hover{color: #FFFFFF;}

  
  footer{
      position: flex;
      bottom: 0%;
      text-align: center;
      margin-top: 10%;
      color: #9C9EA1}

.portifolio{margin-top: 10%;
    margin-left: 0%;
    color: #ffffff;
text-align: center;}

.menuInterativo{background-color: #00000056;
    display: flex;
    flex-direction: row;
   padding-left: 8%;
   width: 70%;
   text-align: center;
   margin-top: 5%;
    
   
   
}
img{display: flex;
    margin-left: 10%;
    width: 100%;
    height: 70%
    
    
    }

    a{color: #7B7D81;
    text-decoration: none;}


    .habilidades{color: #ffffff;
        margin-top: 10%;
        text-align: center;}


        .cards{display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3%;
        margin-left: 8%;
       
        border-radius: 10%;}

        .caixa{    background-color: #212121;
            border: 5px solid #4325af;
            border-radius: 10%;  
            margin-top: 5%;
            padding-right: 1%;
                width: 5%;  
                

             }

           .contato{ color: #ffffff;
            
            margin-top: 10%;
            text-align: center;
           
        }

        .iconDeContato{
            display: flex;
            flex-direction: row;
            gap: 3%;
            margin-left: 6%;
           align-items: center;
            border-radius: 10%;
        

        }

        .icon{ 
            background-color: #212121;
            border: 5px solid #4325af;
            border-radius: 10%;  
            margin-top: 5%;
            padding-right: 1%;
                width: 5%;
                
                


        }