* {
  margin-left: 3em;
  padding: 0;
}
body {
  background-color: #eef5ff;
}
section {
  margin-top: 3em;
}

h2 {
  text-align: center;
  margin-bottom: 3em;
}
h5 {
  padding-right: 5em;
}

.container {
  margin-top: 5em;
  margin-bottom: 5em;
}
.img-inicial {
  width: 30em;
  border-radius: 1em;
}
.apresentacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10em;
  gap: 3em;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.project img {
  margin: 0;
}
.project {
  gap: 3em;
}
.card-body {
  align-items: center;
}
.card-title {
  margin-left: 1.5em;
}
.card-text {
  margin-left: 0;
}

.carousel-inner {
  margin: 0;
}
.carousel-inner img {
  margin: 0;

  height: 30vh;
}
.carousel-item.active {
  margin: 0;
}

.contato {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon-ctt {
  margin-top: 3em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 3em;
  width: 3em;
}
